/* ======================== MIT LICENSE; DO NOT REMOVE ========================
Copyright 2021 Jyles Coad-Ward

Permission is hereby granted, free of charge, to any person obtaining a copy of 
this software and associated documentation files (the "Software"), to deal in the 
Software without restriction, including without limitation the rights to use, 
copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the 
Software, and to permit persons to whom the Software is furnished to do so, subject 
to the following conditions:

The above copyright notice and this permission notice shall be included in all 
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR 
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS 
FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR 
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN 
AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION 
WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
   ======================== MIT LICENSE; DO NOT REMOVE ========================

	Published At; 16th September 2021, 07:23AM UTC+00:00
	Author; Jyles Coad-Ward <jyles@dariox.club>
	License; MIT
*/

/* Hide Tabs because I'm using sidebery (https://addons.mozilla.org/en-US/firefox/addon/sidebery/)*/
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}

/* Set the height of the tabs toolbar because this
	is where the close, minimize, and maximize
	buttons live. */
toolbar#TabsToolbar 
{
	height: 32px;
}

/* Move the navigation bar (search, bookmarks)
	to the top of the page and resize it to
	give room for the close buttons. */
#nav-bar {
    margin-top: -33px;
    margin-bottom: -4px;
	height: 32px;
	max-width: calc(100vw - 138px);
}
.titlebar-buttonbox-container .titlebar-buttonbox
{
	height: 32px;
	margin-right: -138px;
}
#PlacesToolbar
{
	width: 100vw;
}

/* Make the private browsing and accessibility
	indicators not overlap any buttons. */
.private-browsing-indicator,
.accessibility-indicator
{
	margin-left: 24px;
}

/* Make the toolbar on top so web content
	does not overlap it. */
body > box:first-of-type
{
	position:absolute;
	background-color: var(--toolbox-bgcolor);
	z-index: 1000000 !important;
}

/* Remove ugly black border. */
#navigator-toolbox
{
	border-bottom: none !important;
}